body {
  font-family: "Amatic", cursive;
  background-color: gainsboro;
}

h1 {
  color: goldenrod;
  margin: 0px 0px 12px 0px;
  text-align: center;
}

.etch-a-sketch {
  border: 1px solid rgb(153, 3, 3);
  border-radius: 24px;
  background: rgb(153, 3, 3);
  padding: 12px 24px 0px 24px;
  margin: 32px auto 0 auto;
  width: 600px;
  height: 600px;
}

.grid-container {
  width: 70%;
  height: 70%;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  /* this is so the curved borders are respected by the child elements*/
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: center;
}

.knobs {
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 16px;
  text-decoration: none;
  font-family: inherit;
}

button:hover {
  background-color: rgba(8, 152, 209, 0.765);
  border-color: rgba(8, 152, 209, 0.765);
  color: white;
}

.knob {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  margin: 12px 0px;
  justify-content: center;
  align-items: center;
  padding: 0;
}
